#themeColor {
  h2 {
    color:var(--colorSurface-600);
    padding-bottom:0.5rem;
    border-bottom: 1px solid var(--colorSurface-200);
    margin-bottom:1rem;
  }
  .section {
    margin-bottom:2rem;
    .inputsWrapper {
      display:flex;
      gap:2rem;
      flex-wrap:wrap;
      .inputContainer {
        min-width:190px;
        .input {
          &[type="color"] {
            width:100%;
          }
        }
      }
    }
  }
}